@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


#header{
    background-color: rgba(9, 255, 0, 0.719);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0.75rem 1.25rem;
}